In [ ]:
i = 1
while(i>=0):
    print("ee sala cup namde")

In [ ]:
a = [1,2]
for i in a:
    a.append(i)
    print("ee sala cup namde")

In [ ]:
for x in range(2, 20,2):
    print(x)

2
4
6
8
10
12
14
16
18

String operations

In [ ]:
s1 = "Hello"
s2 = " World"
print(s1+s2)

Hello World

In [ ]:
print(s1*3)

HelloHelloHello

In [ ]:
print(s1[2])

l

In [ ]:
print(s1[4])

o

In [ ]:
print(s1[-1])

o

In [ ]:
print(s1[-2])

l

In [ ]:
print(s1[2:4])

ll

In [ ]:
"h" in s1

False

In [ ]:
"p" not in s1

True

In [ ]:
"or" in s2

True

In [ ]:
"ol" not in s2

True

Collections

In [ ]:
myList = [1, "eat" , 2 , "Hello"]
for i in myList:
    print(i)

1
eat
2
Hello

In [ ]:
myList = [1 , 2, 3]
for i in myList:
    print(i)

1
2
3

In [ ]:
myList = ["sri" , "spoo" , "san" , "san"]
myList[2]

'san'

In [ ]:
len(myList)

4

In [ ]:
l = [2,3,1,3,8,10]
l.sort()
print(l)

[1, 2, 3, 3, 8, 10]

In [ ]:
myList.sort()
print(myList)

['san', 'san', 'spoo', 'sri']

In [ ]:
myList.reverse()
print(myList)

['sri', 'spoo', 'san', 'san']

In [ ]:
myList.clear()
print(myList)

[]

In [ ]:
type(myList)

list

In [ ]:
min(l)

1

In [ ]:
max(l)

10

In [ ]:
sum(l)

27

In [ ]:
myList = [[1,2] , [3,4]]
myList[1][1]

4

In [ ]:
myTuple = (1,2,3,4)
print(myTuple)
print(type(myTuple))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
myTuple[1]

2

In [ ]:
myList[1] = 0

In [ ]:
myTuple[1] = 0

In [ ]:
x = ("hello")
print(x)
print(type(x))

hello
<class 'str'>

In [ ]:
x = tuple(("hello" , "hi" , "world" , "hi"))
print(x)

('hello', 'hi', 'world', 'hi')

In [ ]:
x[0:2]

('hello', 'hi')

In [ ]:
del(x)

In [3]:
x = {"a" , "b" , "c" , "c"}
print(x)

{'c', 'b', 'a'}

In [ ]:
type(x)

set

In [4]:
y = {1 , 2 ,3}
x.update(y)
print(x)

{'c', 1, 2, 3, 'a', 'b'}

In [5]:
x.remove("c")
print(x)

{1, 2, 3, 'a', 'b'}

In [6]:
x.pop()

1

In [7]:
x.clear()
print(x)

set()